:root {
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #242424;
  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #213547;
  --button-bg-color: #1a1a1a;
  --button-hover-color: #646cff;
  --button-light-bg-color: #f9f9f9;
  --nav-bg-color: #333;
  --nav-link-color: #fff;
  --nav-link-hover-color: #aaa;
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: var(--text-color-light);
  background-color: var(--background-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-dark);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button, .searchBar input, .searchBtn {
    background-color: #f9f9f9;
    color: #333;
  }
}